* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  background: #ebf2f9;
}

.article-component-container {
  margin: 10rem auto 0rem auto;
  width: 730px;
  height: 300px;
  display: flex;
  align-items: center;
}

.article-component-img img {
  width: 285px;
  height: 300px;
  margin-top: 5px;
  border-radius: 10px 0px 0px 10px;
}

.article-component-text {
  background: #fff;
  height: 300px;
  padding: 2rem;
  position: relative;
  border-radius: 0px 10px 10px 0px;
}

.article-component-text h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  padding-bottom: 1rem;
  color: #48556a;
}

.article-component-text p {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: 1rem;
  color: #6e8098;
}

.social-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.social-avatar {
  display: flex;
  align-items: center;
}

.social-avatar-img {
  padding-right: 12px;
}

.social-avatar-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.social-avatar-info {
  padding-top: 15px;
}

.social-avatar-info h4 {
  font-size: 13px;
  font-weight: 700;
  color: #48556a;
}

p.social-date {
  font-weight: 500;
  font-size: 13px;
  color: #9daec2;
}

.social-share-img {
  background: #ebf2f9;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.social-share-img:hover {
  background: #6e8098;
}

.social-share-img svg {
  position: absolute;
  top: 8px;
  left: 8px;
}

.social-share-img svg:hover #share-icon {
  fill: #fff;
}

.social-sharing-container {
  background: #45566c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 248px;
  height: 55px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(201, 213, 225, 0.503415);
  position: absolute;
  z-index: 2;
  top: 55%;
  right: -13%;
  display: none;
  /* Fade In Animations */
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
  -ms-animation: fadein 0.5s; /* Internet Explorer */
  -o-animation: fadein 0.5s; /* Opera < 12.1 */
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.social-sharing-container.show-share-icons {
  display: flex;
}

.social-sharing-container div {
  padding: 0px 7px;
}

.share-text {
  color: #9daec2;
  font-size: 13px;
  text-decoration: none;
  letter-spacing: 5px;
}

/* 



Mobile Phone Portrait



*/

@media only screen and (max-width: 730px) {
  .article-component-container {
    margin: 2rem auto 0rem auto;
    width: 95%;
    height: 512px;
    flex-direction: column;
  }

  .article-component-img img {
    width: 100%;
    height: auto;
    margin-top: 0px;
    border-radius: 10px 10px 0px 0px;
  }

  .article-component-text {
    background: #fff;
    height: 360px;
    padding: 2rem;
    margin-top: -5px;
    border-radius: 0px 0px 10px 10px;
  }

  .article-component-text p {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 1rem;
  }

  .social-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }

  .social-sharing-container {
    width: 100%;
    height: 100px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 10px 10px rgba(201, 213, 225, 0.503415);
    position: absolute;
    z-index: 2;
    top: 73%;
    right: 0%;
    display: none;
    /* Fade In Animations */
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
    animation: fadein 0.5s;
  }

  .social-share-img {
    background: #ebf2f9;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 3;
  }

  .social-share-img svg {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 3;
  }
}
